<%= form_for(@amount_of_ingredient) do |f| %>
  <% if @amount_of_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amount_of_ingredient.errors.count, "error") %> prohibited this amount_of_ingredient from being saved:</h2>

      <ul>
      <% @amount_of_ingredient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :recipe_id %><br>
    <%= f.text_field :recipe_id %>
  </div>
  <div class="field">
    <%= f.label :ingredient_id %><br>
    <%= f.text_field :ingredient_id %>
  </div>
  <div class="field">
    <%= f.label :measurement_id %><br>
    <%= f.text_field :measurement_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
