<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @amount_of_ingredient.amount %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @amount_of_ingredient.recipe %>
</p>

<p>
  <strong>Ingredient:</strong>
  <%= @amount_of_ingredient.ingredient %>
</p>

<p>
  <strong>Measurement:</strong>
  <%= @amount_of_ingredient.measurement %>
</p>

<%= link_to 'Edit', edit_amount_of_ingredient_path(@amount_of_ingredient) %> |
<%= link_to 'Back', amount_of_ingredients_path %>
