<h1>All recipes:</h1>

<div class="recipes-container">

<%= will_paginate @recipes %>
  <% @recipes.each do |recipe| %>
    <div id="<%= "recipe-#{recipe.id}"%>" class="recipe-holder">
      <table>
        <tr>
          <td><%= link_to recipe.name, recipe %></td>
        </tr>
        <tr>
          <td>by <%= recipe.submitter.name %></td>
        </tr>
        <tr>
          <td>Rating: <%= recipe.rating %></td>
        </tr>
      </table>
    </div>
    <br>
  <% end %>
</div>
