<div id='recipe-info'>
    <h1>Category: <%= link_to @recipe.category.name, @recipe.category %></h1>
    <h1><%= @recipe.name %></h1>
    <h4>Description: <%= @recipe.description %></h4>
    <h3>Avg. Rating: <%= @recipe.rating %> from <%= @recipe.ratings.length %> Votes</h3>
    <h3>By <%= @recipe.submitter.name %></h3>
    <h3>Difficulty Level: <%= @recipe.difficulty %></h3>
</div>

<h3>Ingredients:</h3>
<ul class='ingredient-list'>
    <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
        <p><%= recipe_ingredient.amount %> <%= recipe_ingredient.measurement.name %> - <%= recipe_ingredient.ingredient.name %></p>
    <% end %>
</ul>

<div class='recipe-instruction'
    <h3>Instructions:</h3>
    <p><%= @recipe.instructions %></p>
</div>


<% if @current_user %>
  <% if @current_user.rated?(@recipe) %>
    <div class="rating-form">
    	<%= form_tag ratings_url, method:'post' do |f| %>
    		<%= hidden_field_tag :recipe_id, @recipe.id %>
    		Rating: <%= select_tag :value,
                    options_for_select([
                                        [1,1],
                                        [2,2],
                                        [3,3],
                                        [4,4],
                                        [5,5]]) %><br>
    	  <%= submit_tag "Rate", class: "btn btn-primary" %>
        <% end %>
    </div>
  <% else %>
    <div class="rating-form">
        <%= form_for @rating do |f| %>
            <%= hidden_field_tag :recipe_id, @recipe.id%>
                Rating: <%= f.select :value,
                options_for_select([
                                    [1,1],
                                    [2,2],
                                    [3,3],
                                    [4,4],
                                    [5,5]], selected: :value) %><br>
            <%= f.submit "Re-Rate", class: "btn btn-primary" %>
        <% end %>
    <% end %>
    </div>
<% end %>
