<h1><%= @recipe.name %></h1>
<div class="author">By <%= @recipe.submitter.name %></div>
<div class="recipe-difficulty">Difficulty Level: <%= @recipe.difficulty %></div>
<div class="description recipe-description">Description: <%= @recipe.description %></div>
<div class="recipe-instructions">Instructions: <%= @recipe.instructions %></div>
<div class="recipe-category">Category: <%= link_to @recipe.category.name, @recipe.category %></div>
<div class="rating">Rating: <%= @recipe.rating %> (<%= @recipe.ratings.length %>)</div>
