
<div id="todays-menu">
	<h1>Today's Menu</h1>
	<div class="categories-container">
	<% @categories.each do |category| %>
		<h2><%= link_to category.name, category %></h2>
    <% if category.highest_rated_recipe %>
      <div id="<%= "recipe-#{category.highest_rated_recipe.id}"%>" class="recipe-holder">
        <table>
          <tr>
            <td><%= link_to category.highest_rated_recipe.name, category.highest_rated_recipe %></td>
          </tr>
          <tr>
            <td>by <%= category.highest_rated_recipe.submitter.name %></td>
          </tr>
          <tr>
            <td>Rating: <%= category.highest_rated_recipe.rating %></td>
          </tr>
        </table>
      </div>
      <% end %>
    <br>
	<% end %>
	</div>
</div>
